.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
  -webkit-box-shadow: 0px 0px 5px 0px #000000; 
  box-shadow: 0px 0px 5px 0px #000000;  
  margin: 1em;
  border-radius: 4px;
  padding: 0.3em;
  min-height: 15vw;
}


img {
  width: 18vw;
  height: 20vh;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/